<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3453255-0ca9-4d21-b424-8c436d719822" Alias="Department - Email address - Email address" Level="1">
  <Info>
    <Name>Department - Email address - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>