<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2ca2530-8295-4497-9391-da15279ed2eb" Alias="Departments" Level="3">
  <Info>
    <Parent Key="287f2e0f-c7d3-4d3b-81ae-78adfa870554">Data</Parent>
    <Path>/Home/Data/Departments</Path>
    <Trashed>false</Trashed>
    <ContentType>departmentFolders</ContentType>
    <CreateDate>2024-09-17T20:02:41</CreateDate>
    <NodeName Default="Departments" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>