<?xml version="1.0" encoding="utf-8"?>
<Content Key="61d4d09e-39f8-4a48-82a0-d91b5e71575c" Alias="Error page" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>formErrorPage</ContentType>
    <CreateDate>2024-09-18T17:58:14</CreateDate>
    <NodeName Default="Error page" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1259b12-bc9e-451d-a3b6-6450db57eaeb">FormErrorPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Form error]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>