<?xml version="1.0" encoding="utf-8"?>
<Content Key="a47c7910-242d-46d1-b630-9cd6d38ff766" Alias="IBAN Form - Custom Field" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/IBANFormCustomField</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2024-09-15T16:42:50</CreateDate>
    <NodeName Default="IBAN Form - Custom Field" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="743e4cb8-af53-4825-abae-ac81cb173cbf">FormPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <form>
      <Value><![CDATA[82b05a03-2f5f-44e9-b1bf-942bb7ad6e72]]></Value>
    </form>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[IBAN - Custom Field]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>