<?xml version="1.0" encoding="utf-8"?>
<Content Key="1305d3ad-f749-4bc6-9860-1e4f40445cec" Alias="IBAN Form - Custom validation" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/IBANFormCustomValidation</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2024-09-15T13:28:57</CreateDate>
    <NodeName Default="IBAN Form - Custom validation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="743e4cb8-af53-4825-abae-ac81cb173cbf">FormPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <form>
      <Value><![CDATA[19e1b89c-17b5-4a39-a691-6da11d04e18d]]></Value>
    </form>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Test IBAN Form]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>