<?xml version="1.0" encoding="utf-8"?>
<Content Key="e15d8a0d-fe66-45c0-b2a1-8349d181a851" Alias="Marketing" Level="4">
  <Info>
    <Parent Key="d2ca2530-8295-4497-9391-da15279ed2eb">Departments</Parent>
    <Path>/Home/Data/Departments/Marketing</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2024-09-17T20:04:20</CreateDate>
    <NodeName Default="Marketing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[dxp@example.com]]></Value>
    </contactEmail>
  </Properties>
</Content>