<?xml version="1.0" encoding="utf-8"?>
<Content Key="ecb3b29c-8d44-4384-bfc2-8d0a84201c9d" Alias="Sales" Level="4">
  <Info>
    <Parent Key="d2ca2530-8295-4497-9391-da15279ed2eb">Departments</Parent>
    <Path>/Home/Data/Departments/Sales</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2024-09-17T20:03:33</CreateDate>
    <NodeName Default="Sales" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[sales@example.com]]></Value>
    </contactEmail>
  </Properties>
</Content>