<?xml version="1.0" encoding="utf-8"?>
<Content Key="877a1643-ae0d-44e1-9878-ea4b0ec8b1f3" Alias="Tech support" Level="4">
  <Info>
    <Parent Key="d2ca2530-8295-4497-9391-da15279ed2eb">Departments</Parent>
    <Path>/Home/Data/Departments/TechSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2024-09-17T20:04:00</CreateDate>
    <NodeName Default="Tech support" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[support@example.com]]></Value>
    </contactEmail>
  </Properties>
</Content>